#main-map {
  height: 100vh;
}

.sub-map {
  overflow: visible;
  position: absolute;
  height: 25vh;
  left: 0;
}

#alaska {
  top: 50vh;
}

#hawaii {
  top: 75vh;
}

@media (max-width: 750px) {
  .sub-map {
    overflow: hidden;
  }
}